<!DOCTYPE html>
<html>
  <head>
    <title>Call Change Game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link id="favicon" rel="icon" href="https://cdn.glitch.global/0db7d9ca-f427-4a0a-8bb6-165118dc0eaf/Bristol-major-short.png?v=1743186498137" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/callchange.css">
  </head>
  <body>
    <h1>
      Call Change Game
    </h1>
    <button id="learn">
      Learn call changes
    </button>
    <button id="start">
      Play a game
    </button>
    <div id="game" style="display:none;">
      <div id="instructions">
        <p>
          On this level calls will either be of the form "3 to X" meaning that you will move one place later and follow bell X, or will apply to bells after you leaving you entirely unaffected.
        </p>
        <p>
          Click "next call" to start!
        </p>
      </div>
      <div id="info">
        <p>
          Row: <span id="row">1234567890</span>
        </p>
        <p>
          My bell: <span id="mybell">3</span>
        </p>
        <p>
          Call: <span id="call"></span>
        </p>
        <p>
          Score: <span id="score">0</span>
        </p>
      </div>
      <button id="check" class="disabled">
        Check
      </button>
      <button id="nextcall" >
        Next call
      </button>
      <button id="levelup" style="display:none">
        Next level
      </button>
      <button id="menu" style="display:none">
        Back to menu
      </button>
      <div id="fieldsets">
        <fieldset>
          <label for="myplace">My place: </label>
          <ul id="myplace">
            <li><input type="radio" name="myplace" value="1"/>lead</li>
            <li><input type="radio" name="myplace" value="2"/>2</li>
            <li><input type="radio" name="myplace" value="3" checked/>3</li>
            <li><input type="radio" name="myplace" value="4"/>4</li>
            <li><input type="radio" name="myplace" value="5"/>5</li>
            <li><input type="radio" name="myplace" value="6"/>6</li>
            <li><input type="radio" name="myplace" value="7"/>7</li>
            <li><input type="radio" name="myplace" value="8"/>8</li>
            <li><input type="radio" name="myplace" value="9"/>9</li>
            <li><input type="radio" name="myplace" value="10"/>10</li>
          </ul>
        </fieldset>
        <fieldset>
          <label for="following">I'm following bell: </label>
          <ul class="follow">
            <li><input type="radio" name="following" value="0"/>I'm leading</li>
            <li><input type="radio" name="following" value="1"/>1</li>
            <li><input type="radio" name="following" value="2" checked/>2</li>
            <li><input type="radio" name="following" value="3"/>3</li>
            <li><input type="radio" name="following" value="4"/>4</li>
            <li><input type="radio" name="following" value="5"/>5</li>
            <li><input type="radio" name="following" value="6"/>6</li>
            <li><input type="radio" name="following" value="7"/>7</li>
            <li><input type="radio" name="following" value="8"/>8</li>
            <li><input type="radio" name="following" value="9"/>9</li>
            <li><input type="radio" name="following" value="10"/>10</li>
          </ul>
        </fieldset>
        <fieldset style="display:none">
          <label for="followw">The bell I'm following is following bell:</label>
          <ul class="follow">
            <li><input type="radio" name="followw" value="0" checked />It's leading</li>
            <li><input type="radio" name="followw" value="1"/>1</li>
            <li><input type="radio" name="followw" value="2"/>2</li>
            <li><input type="radio" name="followw" value="3"/>3</li>
            <li><input type="radio" name="followw" value="4"/>4</li>
            <li><input type="radio" name="followw" value="5"/>5</li>
            <li><input type="radio" name="followw" value="6"/>6</li>
            <li><input type="radio" name="followw" value="7"/>7</li>
            <li><input type="radio" name="followw" value="8"/>8</li>
            <li><input type="radio" name="followw" value="9"/>9</li>
            <li><input type="radio" name="followw" value="10"/>10</li>
          </ul>
        </fieldset>
      </div>
      
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="callchange.js"></script>
  </body>
</html>