<!DOCTYPE html>
<html>
  <head>
    <title>Surprise Minor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/placebells.css">
  </head>
  <body>
    
    <h3>
      Surprise Minor
    </h3>
    
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="700" height="600" id="surpriseminor">
      <path d="M 10 10 l 20 20 l -20 20 l 60 60 l -20 20 l 60 60 l -20 20
               l 20 20 v 20 l -20 20 l 20 20 l -60 60 l 20 20 l -60 60 l 20 20
               l -20 20 v 20" stroke="red" stroke-width="2" fill="none" />
      <g stroke-width="2" fill="none" stroke="black" id="minorlines">
        <path d="M 30 10 l -20 20 l 20 20 l -20 20 v 20 l 20 20 v 20 l -20 20 l 20 20" id="row0place2"/>
        <path id="row3place4" d="M 70 70 v 20 l -20 20 l 20 20 l -20 20 v 20" />
        <path id="row3place3" d="M 50 70 l -40 40 v 20 l 20 20 l -20 20" />
        <path id="row3place5" d="M 90 70 l 20 20 l -20 20 l 20 20 l -40 40" />
        <path id="row3place6" d="M 110 70 l -20 20 l 20 20 l -20 20 l 20 20 v 20 l -20 20 l 20 20 l -20 20" />
        
        <path id="row12place5" d="M 90 250 l 20 20 l -20 20 l 20 20 v 20 l -20 20 l 20 20 l -20 20 l 20 20" />
        <path id="row15place4" d="M 70 310 l 40 40 l -20 20 l 20 20 l -20 20" />
        <path id="row15place3" d="M 50 310 v 20 l 20 20 l -20 20 l 20 20 v 20" />
        <path id="row15place2" d="M 30 310 l -20 20 l 20 20 v 20 l -20 20 v 20 l 20 20 l -20 20 l 20 20" />
        <path id="row15place1" d="M 10 310 l 20 20 l -20 20 v 20 l 40 40" />
        
      </g>
      
      <g style="font-family: Arial;" id="placenot">
        <g>
          <text x="150" y="25" class="selected">x</text>
          <text x="200" y="25">36</text>
          <text x="250" y="25">34</text>
        </g>
        <g>
          <text x="150" y="45">x</text>
          <text x="200" y="45" class="selected">36</text>
          <text x="250" y="45">34</text>
        </g>
        <g>
          <text x="150" y="65" class="selected">x</text>
          <text x="200" y="65">36</text>
        </g>
        
        <g>
          <text x="150" y="185" class="selected">x</text>
          <text x="200" y="185">14</text>
          <text x="250" y="185">12</text>
        </g>
        <g>
          <text x="150" y="205">x</text>
          <text x="200" y="205" class="selected">14</text>
          <text x="250" y="205">12</text>
          <text x="300" y="205">34</text>
        </g>
        <g>
          <text x="150" y="225" class="selected">x</text>
          <text x="200" y="225">14</text>
          <text x="250" y="225">12</text>
          <text x="300" y="225">34</text>
        </g>
        
        
        <g>
          <text x="150" y="245" class="selected">56</text>
          <text x="200" y="245">36</text>
          <text x="250" y="245">16</text>
          <!--half lead-->
        </g>
        
        <g>
          <text x="150" y="265" class="selected">x</text>
          <text x="200" y="265">14</text>
          <text x="250" y="265">12</text>
          <text x="300" y="265">34</text>
        </g>
        <g>
          <text x="150" y="285">x</text>
          <text x="200" y="285" class="selected">14</text>
          <text x="250" y="285">12</text>
          <text x="300" y="285">34</text>
        </g>
        <g>
          <text x="150" y="305" class="selected">x</text>
          <text x="200" y="305">14</text>
          <text x="250" y="305">12</text>
        </g>
        
        <g>
          <text x="150" y="425" class="selected">x</text>
          <text x="200" y="425">36</text>
        </g>
        <g>
          <text x="150" y="445">x</text>
          <text x="200" y="445" class="selected">36</text>
          <text x="250" y="445">34</text>
        </g>
        <g>
          <text x="150" y="465" class="selected">x</text>
          <text x="200" y="465">36</text>
          <text x="250" y="465">34</text>
        </g>
        
        
        <g>
          <text x="150" y="485" class="selected">12</text>
          <text x="200" y="485" >16</text>
        
        </g>
        
        
        
      </g>
      <!--
<text x="280" y="125">(half-lead)</text>
        <text x="230" y="245">(lead end)</text>
      <text x="16" y="300" id="methodname">Method: Plain Hunt (Original)</text>
      -->
      <g stroke="#aaaaaa" stroke-width="2" id="minorlinks">
        <line id="row0place3" x1="50" y1="10" x2="70" y2="30" />
        <line id="row0place4" x1="70" y1="10" x2="50" y2="30" />
        <line id="row0place5" x1="90" y1="10" x2="110" y2="30" />
        <line id="row0place6" x1="110" y1="10" x2="90" y2="30" />
        
        <line id="row1place3" x1="50" y1="30" x2="50" y2="50" />
        <line id="row1place4" x1="70" y1="30" x2="90" y2="50" />
        <line id="row1place5" x1="90" y1="30" x2="70" y2="50" />
        <line id="row1place6" x1="110" y1="30" x2="110" y2="50" />
        
        <line id="row2place3" x1="50" y1="50" x2="70" y2="70" />
        <line id="row2place4" x1="70" y1="50" x2="50" y2="70" />
        <line id="row2place5" x1="90" y1="50" x2="110" y2="70" />
        <line id="row2place6" x1="110" y1="50" x2="90" y2="70" />
        
        <line id="row8place1" x1="10" y1="170" x2="30" y2="190" />
        <line id="row8place2" x1="30" y1="170" x2="10" y2="190" />
        <line id="row8place3" x1="50" y1="170" x2="70" y2="190" />
        <line id="row8place4" x1="70" y1="170" x2="50" y2="190" />
        
        <line id="row9place1" x1="10" y1="190" x2="10" y2="210" />
        <line id="row9place2" x1="30" y1="190" x2="50" y2="210" />
        <line id="row9place3" x1="50" y1="190" x2="30" y2="210" />
        <line id="row9place4" x1="70" y1="190" x2="70" y2="210" />
        
        <line id="row10place1" x1="10" y1="210" x2="30" y2="230" />
        <line id="row10place2" x1="30" y1="210" x2="10" y2="230" />
        <line id="row10place3" x1="50" y1="210" x2="70" y2="230" />
        <line id="row10place4" x1="70" y1="210" x2="50" y2="230" />
        
        <line id="row11place1" x1="10" y1="230" x2="30" y2="250" />
        <line id="row11place2" x1="30" y1="230" x2="10" y2="250" />
        <line id="row11place3" x1="50" y1="230" x2="70" y2="250" />
        <line id="row11place4" x1="70" y1="230" x2="50" y2="250" />
        <line id="row11place5" x1="90" y1="230" x2="90" y2="250" />
        
        <line id="row12place1" x1="10" y1="250" x2="30" y2="270" />
        <line id="row12place2" x1="30" y1="250" x2="10" y2="270" />
        <line id="row12place3" x1="50" y1="250" x2="70" y2="270" />
        <line id="row12place4" x1="70" y1="250" x2="50" y2="270" />
        
        <line id="row13place1" x1="10" y1="270" x2="10" y2="290" />
        <line id="row13place2" x1="30" y1="270" x2="50" y2="290" />
        <line id="row13place3" x1="50" y1="270" x2="30" y2="290" />
        <line id="row13place4" x1="70" y1="270" x2="70" y2="290" />
        
        <line id="row14place1" x1="10" y1="290" x2="30" y2="310" />
        <line id="row14place2" x1="30" y1="290" x2="10" y2="310" />
        <line id="row14place3" x1="50" y1="290" x2="70" y2="310" />
        <line id="row14place4" x1="70" y1="290" x2="50" y2="310" />
        
        <line id="row20place3" x1="50" y1="410" x2="70" y2="430" />
        <line id="row20place4" x1="70" y1="410" x2="50" y2="430" />
        <line id="row20place5" x1="90" y1="410" x2="110" y2="430" />
        <line id="row20place6" x1="110" y1="410" x2="90" y2="430" />
        
        <line id="row21place3" x1="50" y1="430" x2="50" y2="450" />
        <line id="row21place4" x1="70" y1="430" x2="90" y2="450" />
        <line id="row21place5" x1="90" y1="430" x2="70" y2="450" />
        <line id="row21place6" x1="110" y1="430" x2="110" y2="450" />
        
        <line id="row22place3" x1="50" y1="450" x2="70" y2="470" />
        <line id="row22place4" x1="70" y1="450" x2="50" y2="470" />
        <line id="row22place5" x1="90" y1="450" x2="110" y2="470" />
        <line id="row22place6" x1="110" y1="450" x2="90" y2="470" />
        
        <line id="row23place2" x1="30" y1="470" x2="30" y2="490" />
        <line id="row23place3" x1="50" y1="470" x2="70" y2="490" />
        <line id="row23place4" x1="70" y1="470" x2="50" y2="490" />
        <line id="row23place5" x1="90" y1="470" x2="110" y2="490" />
        <line id="row23place6" x1="110" y1="470" x2="90" y2="490" />
        
      </g>
      
      <circle cx="10" cy="10" r="6" fill="red" />
      <g fill="black" id="minor" class="bellnums">
        
        <circle cx="30" cy="10" r="6" />
        <circle cx="50" cy="10" r="6" />
        <circle cx="70" cy="10" r="6" />
        <circle cx="90" cy="10" r="6" />
        <circle cx="110" cy="10" r="6" />
      </g>
      
      <g style="text-anchor: middle; font-family: Arial; font-size: 8px; fill: #fff; font-weight: 600;" class="bellnums" id="minorr">
        
        <text x="30" y="13">2</text>
        <text x="50" y="13">3</text>
        <text x="70" y="13">4</text>
        <text x="90" y="13">5</text>
        <text x="110" y="13">6</text>
        
        <text x="10" y="13">1</text>
      </g>
      
      <circle cx="10" cy="490" r="6" fill="red" />
      <g fill="black" id="minorend" class="bellnums">
        
        <circle cx="30" cy="490" r="6" id="bell2" />
        <circle cx="50" cy="490" r="6" id="bell3" />
        <circle cx="70" cy="490" r="6" id="bell4" />
        <circle cx="90" cy="490" r="6" id="bell5" />
        <circle cx="110" cy="490" r="6" id="bell6" />
      </g>
      <g style="text-anchor: middle; font-family: Arial; font-size: 8px; fill: #fff; font-weight: 600;" class="bellnums" id="minorrend">
        
        <text x="30" y="493">5</text>
        <text x="50" y="493">6</text>
        <text x="70" y="493">3</text>
        <text x="90" y="493">4</text>
        <text x="110" y="493">2</text>
        
        <text x="10" y="493">1</text>
      </g>
      
      <rect x="400" y="80" width="250" height="400" fill="none" stroke-width="2" stroke="black" />
      <g id="properties">
        <text x="410" y="105" style="font-weight: 600;">Properties</text>
        
        <text x="410" y="125">☑︎ True leads</text>
        <text x="410" y="145">☑︎ Palindromic symmetry</text>
        <text x="410" y="165">☑︎ Right place</text>
        <!--<text x="410" y="165">☐ Double symmetry</text>-->
        <text x="410" y="185">☑︎ Plain Bob leadheads</text>
        <text x="410" y="205">☑︎ Single hunt</text>
        <text x="410" y="225">☐ Differential</text>
        <text x="410" y="245">☑︎ In standard 41</text>
        <!--includes a single change, 5ths above the treble, more than 2 consecutive blows in same place
-->
      </g>
      
    </svg>
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="jquery.svg.js"></script>
    <script src="jquery.svgdom.js"></script>
    <script src="jquery.svganim.js"></script>
    <script src="grids.js"></script>
  </body>
</html>