<!DOCTYPE html>
<html>
  <head>
    <title>Change Ringing Method/Touch Printer</title>
    <meta name="description" content="Change ringing tools">
    <link id="favicon" rel="icon" href="https://cdn.glitch.global/0db7d9ca-f427-4a0a-8bb6-165118dc0eaf/Bristol-major-short.png?v=1743186498137" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <style id="printPaging"></style>
  </head>
  <body>
    <header>
      <h1>
        Change Ringing Method/Touch Printer
      </h1>
    </header>
    
    <main>
     <div id="form">
       
      
       <div id="nav-options">
        <div>
          <p>
            Other ringing tools
          </p>
          <div class="arrow">
          </div>
        </div>
        <ul class="dropdown">
          <li id="switchP">
             <a href="./practice">Method practice</a>
          </li>
          <li id="switchBL">
           <a href="./graphs">Contour graph generator</a>
          </li>
           <li id="switch">
             <a href="./surpriseminor">Surprise Minor name quiz</a>
          </li>
          
        </ul>
      </div>
       
       <div class="errors">