<!DOCTYPE html>
<html>
  <head>
    <title>Change Ringing Row Graph Generator</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Change Ringing Row Graph Generator
      </h1>
    </header>
    
    <main>
     <div id="form">
       
      
      <p>
        Input place notation to generate graphs of that method's rows, or select one of the known methods. (No known methods yet.)
      </p>
       <div class="errors">