<!DOCTYPE html>
<html>
  <head>
    
    <title>Alisonian Tower</title>
    <meta name="description" content="Change ringing tools and chambers">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/tower.css">
  </head>
  <body>
    <div id="sky">
      
      <div id="tower">
        <div id="triangle">
          
        </div>
        <div class="floor">
          <div id="belfry" class="level">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="400" viewBox="0 -100 300 400" id="bellwheel">
              <path d="M60,25
                 h180
                 q -45 45, -45 135
                 q -45 22.5, -90 0
                 q 0 -90, -45 -135" stroke-width="2" fill="rgb(75, 63, 51)"/>
              <g stroke="rgb(115, 65, 31)" stroke-width="10" fill="none" >
                <circle cx="150" cy="150" r="144" />

                <path d="M 5 140
                         h 290
                         l -130 30
                         m -30 0
                         l -130 -30
                         m 40 110
                         l 100 -70
                         m -10 0
                         v 115
                         m 30 0
                         v -115
                         m -10 0
                         l 100 70
                         M 125 140
                         l -50 -112
                         M 175 140
                         l 50 -112"
                      />
              </g>
              <rect x="130" y="140" width="40" height="70" fill="rgb(115, 65, 31)" />
              <g stroke-width="1" fill="#eed" stroke="#ccb" rx="2" >
                <rect x="127" y="220" width="46" height="5" />
                <rect x="127" y="225" width="46" height="5" />
                <rect x="127" y="230" width="46" height="5" />
                <rect x="127" y="235" width="46" height="5" />
                <rect x="127" y="240" width="46" height="5" />
                <rect x="127" y="245" width="46" height="5" />
                <rect x="127" y="250" width="46" height="5" />
                <rect x="148" y="218" width="5" height="40" />
                <path fill="none" d="M169,225 l90,10" stroke-width="7" />
                <rect x="264" y="242" width="5" height="100" />
              </g>
              <rect x="5" y="280" fill="darkred" width="300" height="20" />
            </svg>
            <div class="frame">

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="81" height="128" >
              <path d="M5,22
                 h60
                 q -16 16, -16 45
                 q -16 7.5, -30 0
                 q 0 -30, -16 -45" stroke-width="2" fill="rgb(75, 63, 51)"/>
              <path d="M5,70 v15 h5 a 40 30 0 0 0 46 0 h5 v-15" fill="dimgray"/>
              <rect x="10" y="75" width="6" height="30" fill="tan" />
              <rect x="62" y="18" width="3" height="88" fill="tan" stroke-width="2" stroke="rgb(115, 65, 31)" />
              <rect x="0" y="102" width="71" height="6" fill="darkred" />
            </svg>
          </div>
          <div class="text">
            <h3>
              Alisonian Bell Tower
            </h3>
            <p>
              Change ringing things created by <a href="https://www.alisonnicole.com">Alison Stevens</a>
            </p>
          </div>
        </div>
        
        <div class="floor">
          <div class="level" id="messy-quotation">
            <div class="ropes">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="rope1" class="rope" width="60" height="500" viewBox="0 0 60 500">
                <defs>
                  <pattern id="sallypattern" x="0" y="0" width="1" height="0.13" >
                    <path stroke="blue" stroke-width="3.2" d="M-2,4 l5,-5" />
                    <path stroke="red" stroke-width="3.2" d="M-2,8 l9,-9" />
                    <path stroke="skyblue" stroke-width="3.2" d="M-2,12 l12,-12" />
                    <path stroke="blue" stroke-width="3.2" d="M1,13 l9,-9" />
                    <path stroke="red" stroke-width="3.2" d="M5,13 l5,-5" />
                  </pattern>
                </defs>

                <rect x="30" y="-90" width="3" height="260" fill="#ddd" stroke-width="1" stroke="#aaa" />
                <rect x="30" y="255" width="3" height="60" fill="#ddd" stroke-width="1" stroke="#aaa" />

                <rect class="sally" x="27" y="170" width="9" height="90" rx="7" fill="url(#sallypattern)" />

                <path stroke="#ddd" stroke-width="3" d="M31.5,310 v30 l2,2 v30 l-1,2 h-2 l-1,-2 v-28 l4,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M30,290 v50 l2,2 v30 l-1,2 l-1,-2 v-28 l5,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M33,290 v50 l2,2 v30 l-2,3 h-4 l-2,-2 v-28 l6,-7 v-17 l-6,-3 l1.2,-2" fill="none" />
                <rect x="30.5" y="315" width="2" height="9" fill="#ddd" />
                <path stroke="#ddd" fill="none" stroke-width="1" d="M31,342 l3,-3" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="rope2" class="rope" width="60" height="500" viewBox="0 0 60 500" >


                <rect x="30" y="-90" width="3" height="260" fill="#ddd" stroke-width="1" stroke="#aaa" />
                <rect x="30" y="255" width="3" height="60" fill="#ddd" stroke-width="1" stroke="#aaa" />

                <rect class="sally" x="27" y="170" width="9" height="90" rx="7" fill="url(#sallypattern)" />

                <path stroke="#ddd" stroke-width="3" d="M31.5,310 v30 l2,2 v30 l-1,2 h-2 l-1,-2 v-28 l4,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M30,290 v50 l2,2 v30 l-1,2 l-1,-2 v-28 l5,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M33,290 v50 l2,2 v30 l-2,3 h-4 l-2,-2 v-28 l6,-7 v-17 l-6,-3 l1.2,-2" fill="none" />
                <rect x="30.5" y="315" width="2" height="9" fill="#ddd" />
                <path stroke="#ddd" fill="none" stroke-width="1" d="M31,342 l3,-3" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="rope3" class="rope" width="60" height="500" viewBox="0 0 60 500" >


                <rect x="30" y="-90" width="3" height="260" fill="#ddd" stroke-width="1" stroke="#aaa" />
                <rect x="30" y="255" width="3" height="60" fill="#ddd" stroke-width="1" stroke="#aaa" />

                <rect class="sally" x="27" y="170" width="9" height="90" rx="7" fill="url(#sallypattern)" />

                <path stroke="#ddd" stroke-width="3" d="M31.5,310 v30 l2,2 v30 l-1,2 h-2 l-1,-2 v-28 l4,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M30,290 v50 l2,2 v30 l-1,2 l-1,-2 v-28 l5,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M33,290 v50 l2,2 v30 l-2,3 h-4 l-2,-2 v-28 l6,-7 v-17 l-6,-3 l1.2,-2" fill="none" />
                <rect x="30.5" y="315" width="2" height="9" fill="#ddd" />
                <path stroke="#ddd" fill="none" stroke-width="1" d="M31,342 l3,-3" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="rope4" class="rope" width="60" height="500" viewBox="0 0 60 500" >


                <rect x="30" y="-90" width="3" height="260" fill="#ddd" stroke-width="1" stroke="#aaa" />
                <rect x="30" y="255" width="3" height="60" fill="#ddd" stroke-width="1" stroke="#aaa" />

                <rect class="sally" x="27" y="170" width="9" height="90" rx="7" fill="url(#sallypattern)" />

                <path stroke="#ddd" stroke-width="3" d="M31.5,310 v30 l2,2 v30 l-1,2 h-2 l-1,-2 v-28 l4,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M30,290 v50 l2,2 v30 l-1,2 l-1,-2 v-28 l5,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M33,290 v50 l2,2 v30 l-2,3 h-4 l-2,-2 v-28 l6,-7 v-17 l-6,-3 l1.2,-2" fill="none" />
                <rect x="30.5" y="315" width="2" height="9" fill="#ddd" />
                <path stroke="#ddd" fill="none" stroke-width="1" d="M31,342 l3,-3" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="rope5" class="rope" width="60" height="500" viewBox="0 0 60 500" >


                <rect x="30" y="-90" width="3" height="260" fill="#ddd" stroke-width="1" stroke="#aaa" />
                <rect x="30" y="255" width="3" height="60" fill="#ddd" stroke-width="1" stroke="#aaa" />

                <rect class="sally" x="27" y="170" width="9" height="90" rx="7" fill="url(#sallypattern)" />

                <path stroke="#ddd" stroke-width="3" d="M31.5,310 v30 l2,2 v30 l-1,2 h-2 l-1,-2 v-28 l4,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M30,290 v50 l2,2 v30 l-1,2 l-1,-2 v-28 l5,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M33,290 v50 l2,2 v30 l-2,3 h-4 l-2,-2 v-28 l6,-7 v-17 l-6,-3 l1.2,-2" fill="none" />
                <rect x="30.5" y="315" width="2" height="9" fill="#ddd" />
                <path stroke="#ddd" fill="none" stroke-width="1" d="M31,342 l3,-3" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="rope6" class="rope" width="60" height="500" viewBox="0 0 60 500" >


                <rect x="30" y="-90" width="3" height="260" fill="#ddd" stroke-width="1" stroke="#aaa" />
                <rect x="30" y="255" width="3" height="60" fill="#ddd" stroke-width="1" stroke="#aaa" />

                <rect class="sally" x="27" y="170" width="9" height="90" rx="7" fill="url(#sallypattern)" />

                <path stroke="#ddd" stroke-width="3" d="M31.5,310 v30 l2,2 v30 l-1,2 h-2 l-1,-2 v-28 l4,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M30,290 v50 l2,2 v30 l-1,2 l-1,-2 v-28 l5,-5 v-20 l-6,-3" fill="none" />
                <path stroke="#aaa" stroke-width="1" d="M33,290 v50 l2,2 v30 l-2,3 h-4 l-2,-2 v-28 l6,-7 v-17 l-6,-3 l1.2,-2" fill="none" />
                <rect x="30.5" y="315" width="2" height="9" fill="#ddd" />
                <path stroke="#ddd" fill="none" stroke-width="1" d="M31,342 l3,-3" />
              </svg>

            </div>
          </div>
          <div class="text">
            <p>
              <a href="https://transparent-messy-quotation.glitch.me">Chamber with animated ropes</a><br/>
              Secret word: blackbeard<br/>
            </p>
            <p>
              <a href="https://nine-invited-decimal.glitch.me">Chamber with ropes, no animations</a><br/>
              Secret word: azalea
            </p>
          </div>
        </div>
        
        <div class="floor">
          <div class="level" id="handbellroom">
            <div class="handbell">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" id="handbell1">
                <path d="M10,5 H90 q -20 20, -20 60 q -20 10, -40 0 q 0 -40, -20 -60" stroke-width="2" stroke="gold" fill="gold" />
              </svg>
              <div class="base">
                
              </div>
              <div class="handle">
                
              </div>
            </div>
            <div class="handbell">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" id="handbell2">
                <path d="M10,5 H90 q -20 20, -20 60 q -20 10, -40 0 q 0 -40, -20 -60" stroke-width="2" stroke="gold" fill="gold" />
              </svg>
              <div class="base">
                
              </div>
              <div class="handle">
                
              </div>
            </div>
            <div class="handbell">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" id="handbell3">
                <path d="M10,5 H90 q -20 20, -20 60 q -20 10, -40 0 q 0 -40, -20 -60" stroke-width="2" stroke="gold" fill="gold" />
              </svg>
              <div class="base">
                
              </div>
              <div class="handle">
                
              </div>
            </div>
            <div class="handbell">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" id="handbell4">
                <path d="M10,5 H90 q -20 20, -20 60 q -20 10, -40 0 q 0 -40, -20 -60" stroke-width="2" stroke="gold" fill="gold" />
              </svg>
              <div class="base">
                
              </div>
              <div class="handle">
                
              </div>
            </div>
            <div class="handbell">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" id="handbell5">
                <path d="M10,5 H90 q -20 20, -20 60 q -20 10, -40 0 q 0 -40, -20 -60" stroke-width="2" stroke="gold" fill="gold" />
              </svg>
              <div class="base">
                
              </div>
              <div class="handle">
                
              </div>
            </div>
            <div class="handbell">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" id="handbell6">
                <path d="M10,5 H90 q -20 20, -20 60 q -20 10, -40 0 q 0 -40, -20 -60" stroke-width="2" stroke="gold" fill="gold" />
              </svg>
              <div class="base">
                
              </div>
              <div class="handle">
                
              </div>
            </div>
          </div>
          <div class="text">
            <p>
              <a href="https://shared-useful-spark.glitch.me">Handbell ringing chamber</a><br/>
              Secret word: sesame
            </p>
            <p>
              <a href="https://changeringingchamber.glitch.me">Handbell lapping chamber</a><br/>
              Secret word: Phooey
            </p>
            <p>
              <a href="https://bedecked-ablaze-risk.glitch.me">Ring by drawing lines</a><br/>
              Secret word: dancedance
            </p>
            
          </div>
        </div>
        
        <div class="floor">
          <div class="level">
            
          </div>
          <div class="text">
            <ul>
              <li><a href="/">View and hear methods or complib.org compositions</a></li>
              <li><a href="/?type=practice&numbers=show&huntbells=draw&drawLH=yes">Practice drawing same</a></li>
              <li><a href="/?type=simulator">Practice in a simulated tower</a></li>
              <li><a href="/surpriseminor">Surprise Minor method name game</a></li>
              <li><a href="/stedman">Stedman tips and tricks</a></li>
            </ul>
            
            
          </div>
        </div>
        
        <div class="floor">
          <div class="level">
          
          </div>
          <div class="text">
            <ul>
              <li><a href="https://bellmaster.glitch.me">Learn to ring a simulated tower bell</a></li>
              <li><a href="https://handbellmaster.glitch.me">Learn to ring handbells</a></li>
              <li><a href="https://belldance.glitch.me">Change ringing lapping game</a></li>
              <li><a href="https://ghostbellhero.glitch.me">Method GPS</a></li>
            </ul>
          </div>
        </div>
        <div class="floor">
          <div class="level">
          
          </div>
          <div class="text">
            
              
          </div>
        </div>
        
      </div>
      
    </div>
    <div id="earth">
      
    </div>
    
    
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/tower.js"></script>
  </body>
  
</html>