<!DOCTYPE html>
<html>
  <head>
    <title>Change Ringing Row Graph Generator</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Change Ringing Row Graph Generator
      </h1>
    </header>
    
    <main>
     
      <p>
        Input place notation to generate graphs of that method's rows, or select one of the known methods.
      </p>
      <form action="/" method="post">
        <div id="method-info">
          <p class="bold">
            Method info
          </p>
          <p>
            <label for="stage">
              <span>Stage:</span>
            </label>
            <select id="stage" name="stage">
              <option value disabled selected></option>
              <option value="4">4 - Minimus</option>
              <option value="5">5 - Doubles</option>
              <option value="6">6 - Minor</option>
              <option value="7">7 - Triples</option>
              <option value="8">8 - Major</option>
              <option value="9">9 - Caters</option>
              <option value="10">10 - Royal</option>
              <option value="11">11 - Cinques</option>
              <option value="12">12 - Maximus</option>
            </select>
          </p>
          <p>
            <label for="placeNotation">
              <span>Place notation:</span>
            </label>
            <input type="text" id="place-notation" name="placeNotation" />
          </p>
          <fieldset>
            <legend>
              Leadhead to begin from
            </legend>
            <ul>
              <li>
                <label for="rounds">
                  <input type="radio" id="rounds" name="leadhead" value="rounds" />
                  Rounds
                </label>
              </li>
              <li>
                <label for="leadhead">
                  <input type="radio" id="other" name="leadhead" value="other" />
                  Other: 
                  <input type="text" id="leadhead" name="otherLeadhead" />
                </label>
              </li>
            </ul>
          </fieldset>
          
        </div>
        <div id="quantity">
          <p class="bold">
            Quantity
          </p>
          <ul>
            <li>
              <label for="one-lead">
                <input type="radio" id="one-lead" name="quantity" value="one-lead" />
                One lead
              </label>
            </li>
            <li>
              <label for="plain-course">
                <input type="radio" id="plain-course" name="quantity" value="plain-course" />
                Plain course
              </label>
            </li>
            <li>
            (Touches coming soon!)
            </li>
          </ul>
          
          
        </div>
        
        <!--<input type="text" cols="80" rows="30" maxlength="5000" /> -->
        <button type="submit">Submit</button>
      </form>
      
    </main>
    
    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>

