<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133853596-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133853596-1');
    </script>
    <title>Chamber of Secrets</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/chambercss.css">
    <style id="printPaging"></style>
  </head>
  <body>
    
    <div id="container">
      <button type="button" id="openchamber">
        Open the Chamber
      </button>

      <div id="entrants">
        <h3>
          Entrants
        </h3>
        <ul>

        </ul>
      </div>
      <div id="room" class="row">
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="ropea" class="rope" width="150" height="500" viewBox="0 0 150 500" >
          <defs>
            <pattern id="sallypattern" x="0" y="0" width="1" height="0.13" >
              <path stroke="blue" stroke-width="3.2" d="M-2,4 l5,-5" />
              <path stroke="red" stroke-width="3.2" d="M-2,8 l9,-9" />
              <path stroke="skyblue" stroke-width="3.2" d="M-2,12 l12,-12" />
              <path stroke="blue" stroke-width="3.2" d="M1,13 l9,-9" />
              <path stroke="red" stroke-width="3.2" d="M5,13 l5,-5" />
            </pattern>
          </defs>
          
          <rect x="30" y="-90" width="3" height="260" fill="#ddd" stroke-width="1" stroke="#aaa" />
          <rect x="30" y="255" width="3" height="60" fill="#ddd" stroke-width="1" stroke="#aaa" />
          
          <svg id="handa">
            <rect x="0" y="170" width="29" height="90" fill="white"/>
            <rect x="35" y="170" width="29" height="90" fill="white"/>
            <rect id="sallya" class="sally" x="27" y="170" width="9" height="90" rx="7" fill="url(#sallypattern)" />
          </svg>
          
          <svg id="backa">
            <rect x="0" y="315" width="29" height="61" fill="white"/>
            <rect x="33" y="315" width="29" height="61" fill="white"/>
            <svg id="taila" class="tail">
              <rect x="30" y="315" width="5" height="61" fill="white"/>
              <path stroke="#ddd" stroke-width="3" d="M31.5,310
                                                      v30
                                                      l2,2
                                                      v30
                                                      l-1,2
                                                      h-2
                                                      l-1,-2
                                                      v-28
                                                      l4,-5
                                                      v-20
                                                      l-6,-3" fill="none" />
              <path stroke="#aaa" stroke-width="1" d="M30,290 v50
                                                      l2,2
                                                      v30
                                                      l-1,2
                                                      l-1,-2
                                                      v-28
                                                      l5,-5
                                                      v-20
                                                      l-6,-3" fill="none" />
              <path stroke="#aaa" stroke-width="1" d="M33,290 v50
                                                      l2,2
                                                      v30
                                                      l-2,3
                                                      h-4
                                                      l-2,-2
                                                      v-28
                                                      l6,-7
                                                      v-17
                                                      l-6,-3
                                                      l1.2,-2" fill="none" />
              <rect x="30.5" y="315" width="2" height="9" fill="#ddd" />
              <path stroke="#ddd" fill="none" stroke-width="1" d="M31,342 l3,-3" />
            </svg>
          </svg>
          
          <animate id="hand1a" attributename="viewBox" to="0 -40 300 500" dur="0.3s" begin="indefinite" fill="freeze" restart="whenNotActive"></animate>
          <animate id="hand2a" attributename="viewBox" from="0 -40 300 500" to="0 -80 300 500" dur="0.4s" begin="hand1a.endEvent" fill="freeze"></animate>
          <animate id="hand3a" attributename="viewBox" from="0 -80 300 500" to="0 -76.3 300 500" dur="0.1s" begin="hand2a.endEvent" fill="freeze"></animate>
          <animate id="hand4a" attributename="viewBox" to="0 -65.4 300 500" dur="0.1s" begin="hand3a.endEvent" fill="freeze"></animate>
          <animate id="hand5a" attributename="viewBox" to="0 -48 300 500" dur="0.1s" begin="hand4a.endEvent" fill="freeze"></animate>
          <animate id="hand6a" attributename="viewBox" to="0 -25 300 500" dur="0.1s" begin="hand5a.endEvent" fill="freeze"></animate>
          <animate id="hand7a" attributename="viewBox" to="0 1.9 300 500" dur="0.1s" begin="hand6a.endEvent" fill="freeze"></animate>
          <animate id="hand8a" attributename="viewBox" to="0 31.6 300 500" dur="0.1s" begin="hand7a.endEvent" fill="freeze"></animate>
          <animate id="hand9a" attributename="viewBox" to="0 62.2 300 500" dur="0.1s" begin="hand8a.endEvent" fill="freeze"></animate>
          <animate id="hand10a" attributename="viewBox" to="0 91.9 300 500" dur="0.1s" begin="hand9a.endEvent" fill="freeze"></animate>
          <animate id="hand11a" attributename="viewBox" to="0 119 300 500" dur="0.1s" begin="hand10a.endEvent" fill="freeze"></animate>
          <animate id="hand12a" attributename="viewBox" to="0 141.9 300 500" dur="0.1s" begin="hand11a.endEvent" fill="freeze"></animate>
          <animate id="hand13a" attributename="viewBox" to="0 159.3 300 500" dur="0.1s" begin="hand12a.endEvent" fill="freeze"></animate>
          <animate id="hand14a" attributename="viewBox" to="0 170.1 300 500" dur="0.1s" begin="hand13a.endEvent" fill="freeze"></animate>
          <animate id="hand15a" attributename="viewBox" to="0 173.7 300 500" dur="0.1s" begin="hand14a.endEvent" fill="freeze"></animate>
          
          <animate id="back14a" attributename="viewBox" to="0 0 300 500" dur="0.3s" begin="back13a.endEvent" fill="freeze"></animate>
          <animate id="back13a" attributename="viewBox" to="0 -40 300 500" dur="0.3s" begin="back12a.endEvent" fill="freeze"></animate>
          <animate id="back12a" attributename="viewBox" to="0 -80 300 500" dur="0.3s" begin="back11a.endEvent" fill="freeze"></animate>
          <animate id="back11a" attributename="viewBox" to="0 -76.3 300 500" dur="0.1s" begin="back10a.endEvent" fill="freeze"></animate>
          <animate id="back10a" attributename="viewBox" to="0 -65.4 300 500" dur="0.1s" begin="back9a.endEvent" fill="freeze"></animate>
          <animate id="back9a" attributename="viewBox" to="0 -48 300 500" dur="0.1s" begin="back8a.endEvent" fill="freeze"></animate>
          <animate id="back8a" attributename="viewBox" to="0 -25 300 500" dur="0.1s" begin="back7a.endEvent" fill="freeze"></animate>
          <animate id="back7a" attributename="viewBox" to="0 1.9 300 500" dur="0.1s" begin="back6a.endEvent" fill="freeze"></animate>
          <animate id="back6a" attributename="viewBox" to="0 31.6 300 500" dur="0.1s" begin="back5a.endEvent" fill="freeze"></animate>
          <animate id="back5a" attributename="viewBox" to="0 62.2 300 500" dur="0.1s" begin="back4a.endEvent" fill="freeze"></animate>
          <animate id="back4a" attributename="viewBox" to="0 91.9 300 500" dur="0.1s" begin="back3a.endEvent" fill="freeze"></animate>
          <animate id="back3a" attributename="viewBox" to="0 119 300 500" dur="0.1s" begin="back2a.endEvent" fill="freeze"></animate>
          <animate id="back2a" attributename="viewBox" to="0 141.9 300 500" dur="0.2s" begin="back1a.endEvent" fill="freeze"></animate>
          <animate id="back1a" attributename="viewBox" to="0 159.3 300 500" dur="0.1s" begin="indefinite" fill="freeze"></animate>
        </svg>
      </div>
      
    </div>
    
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/chamber.js"></script>
  </body>
</html>