<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133853596-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133853596-1');
    </script>
    <title>Stedman tips and tricks</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/surprisecss.css">
    <style id="printPaging"></style>
  </head>
  <body>
    <header>
      <h1>
        Stedman Tips and Tricks
      </h1>
    </header>
    <main>
      
      <div id="nav-options">
        <div>
          <p>
            Other ringing tools
          </p>
          <div class="arrow">
          </div>
        </div>
        <ul class="dropdown">
          <li id="switchBL">
           <a href="./">Method printer</a>
          </li>
          <li id="switchP">
             <a href="./practice">Method practice</a>
          </li>
           <li id="switchG">
             <a href="./graphs">Contour graph generator</a>
          </li>
          <li id="switchS">
            <a href="./staff">Staff notation generator</a>
          </li>
        </ul>
      </div>
      
      <p>
        Stedman is a well-known change-ringing method for odd numbers of bells. It's a principle, which means that all the bells do the same work. Many people will say "Stedman is a principle, not a method!" (I myself have said this) but in fact principles are simply a category of method.
      </p>
      
      <h3>
        Structure of the blue line
      </h3>
      <p>
        Stedman (on any number of bells greater than 3) is usually thought of as having three large chunks of work. These are the quick work, the slow work, and the backwork. The quick work and slow work are both on the front, specifically the first three places. Frontwork alternates with backwork, so the complete cycle in the plain course is quick work → backwork → slow work → backwork.
      </p>
      <div id="workcycle">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="150"  >
          <defs>
            <marker id="arrowhead" markerWidth="10" markerHeight="7" 
            refX="0" refY="3.5" orient="auto">
              <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
          </defs>
          
          <g style="font-size:14; text-anchor:middle">
            <text x="125" y="25">Quick work</text>
            <text x="200" y="75">Back work</text>
            <text x="125" y="118">Slow work</text>
            <text x="50" y="75">Back work</text>
          </g>
          <g style="stroke:black; stroke-width:1; fill:none">
            <path d="M165,21
                     a 34 34 0 0 1 34 34" marker-end="url(#arrowhead)"/>
            <path d="M 199 80
                     a 34 34 0 0 1 -34 34" marker-end="url(#arrowhead)" />
            <path d="M 89 114
                     a 38 30 0 0 1 -38 -30" marker-end="url(#arrowhead)" />
            <path d="M 51 62
                     a 29 40 0 0 1 29 -40" marker-end="url(#arrowhead)" />
          </g>
          
        </svg>
      </div>
      
      <p>
        Stedman backwork consists of double dodging up in each pair of places higher than three (4-5, 6-7, 8-9, 10-11), lying at the back, and double dodging down in the same pairs of places as on the way up. Stedman quick work is the easiest explained: it's simply plain hunting once through on the front three.
      </p>
      <p>
        Stedman slow work is its most characteristic feature. It consists of whole turns (lead, point seconds, lead), half turns (point lead), and lots of making thirds. 
      </p>
      
      <h3>
        Structure of the method as a whole
      </h3>
      <p>
        Understanding how Stedman is structured as a whole will help ringers recover from mistakes and maybe even make the slow work seem more sensible. Stedman is based on plain hunt on three. There are two ways to plain hunt on three—if you think of it as braiding, these correspond to crossing the left strand over the middle first, or crossing the right strand over the middle first. Normal plain hunt swaps 1 and 2 first. This is also referred to as "right hunting". "Wrong hunting" involves swapping 2 and 3 first, causing each bell to lead "wrong", i.e. for a backstroke and a handstroke. Either way, it takes six rows to return to the starting point, and this is the extent on three (all the permutations of three).
      </p>
      <p>
        Stedman consists of alternating right and wrong hunting on the front three. Every six blows, the front three bells switch from right hunting to wrong hunting or vice versa. Additionally, one of the front bells switches with one of the back bells so that no rows will be repeated. The switch between types of hunting is what creates the whole and half turns. 
      </p>
    </main>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/stedman.js"></script>
  </body>
</html>