<!DOCTYPE html>
<html>
  <head>
    <title>Surprise Minor Method Name Quiz</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/surprisecss.css">
    <style id="printPaging"></style>
  </head>
  <body>
    <header>
      <h1>
        Surprise Minor Method Name Quiz
      </h1>
    </header>
    <main>
      
      <div id="nav-options">
        <div>
          <p>
            Other ringing tools
          </p>
          <div class="arrow">
          </div>
        </div>
        <ul class="dropdown">
          <li id="switchBL">
           <a href="./">Method printer</a>
          </li>
           <li id="switch">
             <a href="./graphs">Contour graph generator</a>
          </li>
          <li id="switchP">
             <a href="./practice">Method practice</a>
          </li>
        </ul>
      </div>
        
      
      
      <div id="gamecontainer">
        <div id="methodname">
          <p>
            Click here to begin
          </p>
        </div>
        <div id="choicecontainer">
          <div class="choices" id="overwork">
            <div class="option" id="Cam">
              <p>
                Cambridge
              </p>
            </div>
            <div class="option" id="Nor">
              <p>
                Norwich
              </p>
            </div>
            <div class="option" id="Lon">
              <p>
                London
              </p>
            </div>
            <div class="option" id="Car">
              <p>
                Carlisle
              </p>
            </div>
          </div>
          <div class="choices" id="underwork">
            <div class="option" id="Cambridge">
              <p>
                Cambridge
              </p>
            </div>
            <div class="option" id="Ipswich">
              <p>
                Ipswich
              </p>
            </div>
            <div class="option" id="Cunecastre">
              <p>
                Cunecastre
              </p>
            </div>
            <div class="option" id="Norwich">
              <p>
                Norwich
              </p>
            </div>
            <div class="option" id="Bourne">
              <p>
                Bourne
              </p>
            </div>
            <div class="option" id="London">
              <p>
                London
              </p>
            </div>
            <div class="option" id="Beverley">
              <p>
                Beverley
              </p>
            </div>
            <div class="option" id="Wells">
              <p>
                Wells
              </p>
            </div>
            <div class="option" id="Surfleet">
              <p>
                Surfleet
              </p>
            </div>
            <div class="option" id="Warkworth">
              <p>
                Warkworth
              </p>
            </div>
            <div class="option" id="Westminster">
              <p>
                Westminster
              </p>
            </div>
            <div class="option" id="Coldstream">
              <p>
                Coldstream
              </p>
            </div>
            <div class="option" id="Kelso">
              <p>
                Kelso
              </p>
            </div>
          </div>
          <div class="choices" id="leadend">
            <div class="option" id="2nds">
              <p>
                2nds
              </p>
            </div>
            <div class="option" id="6ths">
              <p>
                6ths
              </p>
            </div>
          </div>
        </div>
  
      </div>
        
    </main>
    <footer>
      <a href="https://glitch.com/edit/#!/changeringing?path=README.md:1:0">
        About this project
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/surprise.js"></script>

  </body>
</html>