button {
  padding: 20px;
  font-family: Georgia;
  font-size: 20px;
  margin: 40px auto;
  display: block;
}
button:hover {
  cursor: pointer;
}

#container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}


#room {
  display: none;
  width: 300px;
  height: 500px;
  margin: 0 auto;
}

#entrants {
  display: none;
  width: 300px;
  height: 500px;
}

ul {
  list-style-type: none;
}



.rope {
  -webkit-touch-callout: none;
}
.sally:hover {
  cursor: grab;
}

