div.grid-container {
  
  display: block;
  position: relative;
  }

div.buttons, div#arrows {
  margin-left: 80px;
}

svg {
  
  position: relative;
}

svg#container {
  position: absolute;
}

#tutorial {
  position: absolute;
  width: 316px;
  height: 24px;
  font-family: Verdana;
  bottom: 165px;
  left: 2px;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}

.visible {
  color: black;
}

.finished {
  display: none;
  position: absolute;
  font-family: Verdana;
  bottom: 125px;
  left: 82px;
  background-color: rgba(255,255,255,0.7);
}

.invisible {
  fill: none;
  opacity: 0;
}

.translucent {
  fill: white;
  fill-opacity: 0.8;
}

path.bellpath {
  stroke-dasharray: 26;
  stroke-dashoffset: 26;
  animation: dash 500ms linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}