/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
@media screen {
  
* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}
  
.errors p {
  color: red;
  min-height: 20px;
  }

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  
  max-width: 578px;
  border-radius: 3px;
}

input {
  
  margin-bottom: 10px;
  padding: 5px;
  
  
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}
  
input#place-notation {
  width: 75%;
  }
  
span.methodName {
  padding-left: 25px;
  }
  
select#methodName {
  width: 40%;
  }
  
input.bob, input.single {
  
  width: 75px;
  }
  
input.bob:disabled, input.single:disabled {
  background-color: #e9e9e9;
  }
  
div#quantity fieldset ul li:last-child {
  float: left;
  }
  
li#bob {
  float: left;
  width: 50%;
  margin-right: 0px;
  }

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}
  
ul {
  list-style-type: none;
  padding-left: 20px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
}

@media print {
  
  header {
    display: none;
  }
  
  div#form {
    display: none;
  }
  
  svg.contain {
    width: 16.6%;
    height: auto;
    break-inside: avoid-page;
  }
  
  svg svg {
    width: 16.6%;
  }
  
  footer {
    display: none;
  }
}