/* styles */
/* called by your view template */
/* THIS MUST BE AN OLD FILE */
/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
@font-face {
    font-family: 'Helsinki';
    src: url('https://cdn.glitch.com/d468f5d9-e9b6-43b0-81a0-d977a9f42682%2Fhelsinki-webfont.ttf?1547180691584') format('ttf'),
         url('https://cdn.glitch.com/d468f5d9-e9b6-43b0-81a0-d977a9f42682%2Fhelsinki-webfont.woff?1547180699345') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen {
  /*general element and element-state styles*/
  * {
    box-sizing: border-box;
  }

  body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;
  }

  h1 {
    font-weight: bold;
    color: black;
  }

  p {
    max-width: 600px;
    margin: 8px 0;
  }
  
  button {
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 2px 2px teal;
    cursor: pointer;
    align-self: flex-start;
  }

  button:hover {
    background-color: #eee;
  }

  button:active {
    box-shadow: none;
  }

  button a {
    text-decoration: none;
    color: black;
    }
  
  form {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0 15px 15px 15px;
    background-color: powderblue;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 578px;
    border-radius: 3px;
    position: relative;
  }
  
  label {
    margin-right: 7px;
  }

  input {

    /*margin-bottom: 10px;*/
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
  }
  
  input:disabled {
    background-color: #e9e9e9;
  }
  
  li {
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  span {
    margin-right: 10px;
    display: inline-block;
  }
  
  footer {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid lightgrey;
  }

  footer > a {
    color: #BBBBBB;
  }
  
  
  
  /*some general classes */
  
  .bold {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  
  .hidden.category, .hidden {
    display: none;
  }

  .visible {
    height: 300px;
    visibility: visible;
  }
  
  .disabled {
    color: darkturquoise;
  }
  
  fieldset.borderless {
    border: 0;
  }
  
  /*nav styling*/
  #nav-options {
  background-color: aliceblue;
  color: steelblue;
  max-width: 300px;
  margin-bottom: 20px;
}

#nav-options p {
  width: 80%;
  margin: 8px 8px;
  display: inline-block;
}
#nav-options li a {
  color: darkslateblue;
  text-decoration: none;
}

#nav-options ul {
  margin-top: 0;
  padding-bottom: 8px;
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 8px solid steelblue;
  margin-right: 8px;
  margin-top: 8px;
  display: inline-block;
  transition: transform 600ms ease;
}

.rotate {
  transform: rotate(-90deg);
}
  
  
  
  
  /*error div at top of page*/
  .errors p {
    color: red;
    min-height: 20px;
  }
  
  /* FORM STYLING */
  
  div#valid {
    display: none;
  }
  
  div.category {
    display: flex;
    flex-flow: column;
  }

  div.input, ul.row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 7px;
    align-items: center;
  }
  
  /* method info */
  
  select#class {
    width: 100px;
  }
  
  input#place-notation {
    flex: 1 335px;
  }
  
  div#methodSearch div {
    position: relative;
    flex: 1 335px;
  }
  
  input#methodName {
    width: 99%;
    border-radius: 3px 3px 0 0;
  }
  
  ul#methodList {
    margin-left: 1px;
    padding-left: 0;
    width: 98.5%;
    /*border: 1px solid black;*/
    position: absolute;
    top: 15px;
    background-color: aliceblue;
    border-radius: 0 0 5px 5px;
    /*z-index: 3;*/
    }
  
  ul#methodList li {
    display: none;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
    width: 100%;
    z-index: 4;
    background-color: aliceblue;
    }
  
  ul#methodList li:last-child {
    border-radius: 0 0 5px 5px;
    }
  
  ul#methodList li:hover {
    background-color: lightsteelblue;
    }
  
  ul#methodList li.selected {
    background-color: lightsteelblue;
    }
  
  /* quantity/composition info */
  
  div#quantity fieldset ul {
    position: relative;
  }
  
  li#compinfo {
    margin-top: 20px;
  }
  
  li#compinfo div {
    align-items: flex-start;
  }
  
  ul#touchInfo > li {
    float: left;
    margin-right: 35px;
  }
  
  ul#touchInfo > li:first-child {
    margin-left: -20px;
  }
  
  /*div#quantity fieldset ul li:last-child {
  float: left;
  }*/ 
  
  /* call info */
  
  div#call-info {
    width: 100%;
  }
  
  fieldset#calls legend {
    margin-left: -16px;
  }
  
  fieldset#calls ul {
    padding-left: 0;
  }
  
  fieldset#calls li {
    margin-right: 24px;
    margin-left: -10px;
  }
  /*
  fieldset#calls li:first-child {
    margin-left: -10px;
  }
    */
  li#bob {
    
    margin-right: 15px;
  }

  input.bob, input.single {
    width: 75px;
  }
  
  /* appearance info */
  
  #appearance input {
    margin-bottom: 0;
  }

  div#bellgroups, div#everyline {
    display: none;
  }
  
  div#timesig > p {
    width: 100%;
  }
  
  div#timeOpts ul {
    padding-left: 0;
  }
  
  li.time li {
    margin-right: 20px;
    font-family: Helsinki;
    font-size: 35px;
    line-height: .6;
    
  }
  
  select.weight {
    margin-right: 10px;
  }
  
  /* END FORM STYLING */

  /* svg styling */
  
  div.grid-container {
    /*margin-left: 40px;*/
    display: inline-block;
    max-width: 1000px;
  }
  
  div.grid {
    float: left;
    /*height: 850px;*/
    margin-bottom: 40px;
  }
  
  svg.grid {

    /*float: left;*/
    margin-right: 0;
    margin-top: 0;
  }
  
  svg.staff {
    margin-bottom: 20px;
  }

  

}

@media print {
  
  header {
    display: none;
  }
  
  body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  }
  
  div#form {
    display: none;
  }
  
  svg.contain {
    width: 25%;
    height: auto;
    break-inside: avoid-page;
    margin-bottom: 40px;
  }
  
  div.grid-container {
    display: inline-block;
  }
  
  div.grid {
  float: left;
  /*height: 850px;*/
  }
  
  
  div.pageN {
    margin-top: 100px;
  }
  
  /*div.paged {
    margin-bottom: 250px;
  }*/
  
  svg svg {
    width: 16.6%;
  }
  
  footer {
    display: none;
  }
}